.wrapper {
  max-width: auto;
  height: auto;
  align-items: center;
}

.section {
  margin-top: 0px;
}
.title {
  font-size: 3.8rem;
  margin-top: 40px;
  font-weight: 550;
  color: white;
}

.desc {
  font-size: 1.8rem;
  margin-left: 20px;
  margin-right: 20px;

  color: #a5a1a1;
}
a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.text {
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
}

.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 550px;
  margin-top: -30px;
  margin-bottom: -30px;
}
.git {
  max-width: 40px;
  margin-right: 40px;
}
.insta {
  max-width: 40px;
}
.gitimg {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right {
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.s-img {
  width: auto;
  max-width: 75px;
  margin: 2%;
}
.skills {
  align-items: center;
  display: flex;
  justify-content: center;
}

.s-text {
  font-size: 25px;
  font-weight: 700;
  color: #a5a1a1;
}

.git {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.g-img {
  width: 70%;
}

.p-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.git-img {
  width: 220%;
  margin-left: -30px;
}

.insta-img {
  margin-left: 20px;
  width: 120%;
}

.git-img:hover {
  color: rgb(6, 132, 216);
}

.passionate {
  color: rgb(235, 72, 152);
}

.skilled {
  color: rgb(234, 179, 8);
}

.developer {
  background: linear-gradient(rgb(239, 160, 12), rgb(246, 126, 20));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.contact-here {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.ch-button {
  background-color: rgb(34, 197, 94);
  border: none;
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .s-img {
    width: auto;
    max-width: 30px;
    margin: 2%;
  }
  .s-text {
    font-size: 16px;
    font-weight: 700;
    color: #a5a1a1;
  }
  .desc {
    font-size: 1.1rem;
    margin-left: 20px;
    margin-right: 20px;

    color: #a5a1a1;
  }
  .title {
    font-size: 60px;
    margin-top: 10px;
  }
  .p-img {
    max-width: 350px;
    margin-bottom: 10px;
  }
}
